In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime



from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer


warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [4]:
train = pd.read_excel('Project 2/Data/historical.xlsx')


train.set_index('CustomerID', inplace = True)

In [5]:
train

,Name,Birthyear,Education,Marital_Status,Income,Kid_Younger6,Children_6to18,Date_Adherence,Recency,MntMeat&Fish,MntEntries,MntVegan&Vegetarian,MntDrinks,MntDesserts,MntAdditionalRequests,NumOfferPurchases,NumAppPurchases,NumTakeAwayPurchases,NumStorePurchases,NumAppVisitsMonth,Response_Cmp2,Response_Cmp3,Response_Cmp4,Response_Cmp5,Response_Cmp1,Complain,CostContact,Revenue,DepVar
CustomerID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
30651,Mr. Trevor Ferguson,1987,Graduation,Married,46575,0,0,2022-02-20 00:00:00,71.0,30,0,60,60.0,140,11,1,3,1,2,7,0,0,0,0,0,0,3,16,0
6222,Mr. Peter Gray,1973,PhD,Together,48852,1,0,2022-01-13 00:00:00,34.0,130,0,60,0.0,0,2,1,3,1,2,8,0,0,0,0,0,0,3,16,0
3909,Mrs. Theresa Wallace,1961,Graduation,Married,91345,0,1,2021-04-21 00:00:00,75.0,4160,380,2730,380.0,380,6,3,9,3,10,6,0,0,0,0,0,0,3,16,0
20121,Miss Lillian Alsop,1977,Graduation,Together,102522,0,1,2021-05-30 00:00:00,95.0,3120,420,3090,1560.0,1840,149,3,9,4,10,5,0,0,0,0,0,0,3,16,0
19896,Miss Lillian Dowd,1961,Master,Together,38770,0,0,2020-11-19 00:00:00,46.0,30,20,150,40.0,40,5,1,3,1,2,9,0,0,0,0,0,0,3,16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13344,Mr. Justin Metcalfe,1967,Graduation,Widow,89377,0,0,2021-09-26 00:00:00,11.0,2530,1680,2220,2380.0,1960,105,1,6,4,13,3,0,0,0,0,0,0,3,16,0
28152,Mr. Brandon Nash,1968,Master,Married,95486,0,1,2021-11-15 00:00:00,4.0,7380,0,3480,200.0,400,50,2,5,6,7,7,0,0,0,0,0,0,3,16,1
31938,Mr. Simon Mills,1970,Graduation,Single,28620,1,1,2022-01-27 00:00:00,47.0,140,60,315,20.0,20,28,4,5,2,2,8,1,0,0,0,0,0,3,16,1
20016,Mr. Brandon Poole,1966,Graduation,Married,59998,1,1,2020-08-11 00:00:00,26.0,640,60,690,20.0,20,3,4,5,2,3,9,0,0,0,0,0,0,3,16,1
15492,Miss Emily Wilkins,1975,Graduation,Together,64162,0,1,2021-05-22 00:00:00,95.0,570,80,375,420.0,200,9,3,5,2,3,8,0,0,0,0,0,0,3,16,0

Teste

In [6]:
numeric = train[[
    'Income', 'Recency', 'MntMeat&Fish', 'MntEntries', 'MntVegan&Vegetarian', 'MntDrinks', 'MntDesserts', 'MntAdditionalRequests',
    'NumOfferPurchases', 'NumAppPurchases', 'NumTakeAwayPurchases', 'NumStorePurchases', 'NumAppVisitsMonth', 'Antiquity', 'Age', 'Freq', 'Mnt_Total'
    ]].copy()

categorical = train[[
    'Education', 'Marital_Status', 'Kid_Younger6', 'Children_6to18', 'Response_Cmp2', 'Response_Cmp3', 'Response_Cmp4', 
    'Response_Cmp5', 'Response_Cmp1', 'Complain', 'DepVar', 'Gender'
    ]].copy()

KeyError: "['Antiquity', 'Age', 'Freq', 'Mnt_Total'] not in index"